.jumbotron {
  padding-top: 7rem;
  background-color: #F9D371;
}

#News {
  padding-top: 2rem;
  background-color: #F9D371;
}

.contact {
  background-color: #eea263;
}
section {
  padding-top: 5rem;
}
